@import './config.css';

.playersContainer {
    width: 100%;
    margin-top: 60px;
}

.choosePlayerButton {
    width: 200px;
    height: 50px;
    background: var(--color-white);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-shadow);
    font-family: var(--font-basic);
    font-size: var(--font-size-med);
    cursor: pointer;
    color: var(--color-dark);
    display: block;
}

.playerList {
    height: 80vh;
    max-height: 900px;
    padding: 40px 0 40px 0;
    box-sizing: border-box;
    width: 90%;
    max-width: 600px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-white);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
}

.playerList div {
    height: calc(100% - 50px);
    border-top: 1px solid var(--color-shadow);
    border-bottom: 1px solid var(--color-shadow);
    overflow-y: scroll;
}

.playerList h3 {
    height: 50px;
    padding: 0;
    margin: 0;
    margin-left: 40px;
    display: inline-block;
}

.playerList .closeButton {
    width: 100px;
    background: transparent;
    font-family: var(--font-basic);
    text-align: left;
    font-size: var(--font-size-small);
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: var(--color-dark);
    margin-left: 50px;
    position: absolute;
    top: 40px;
    right: 10px;
}

.playerList div button {
    width: 100%;
    height: 60px;
    padding: 0 40px 0 40px;
    box-sizing: border-box;
    background: transparent;
    font-family: var(--font-basic);
    text-align: left;
    font-size: var(--font-size-med);
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: var(--color-brand);
}

.playerList div button:nth-child(even) {
    background: var(--color-background);
}

.playerHistory {
    text-align: left;
}

.statisticsTable {
    width: 100%;
    display: block;
    text-align: left;
}

.statisticsTable tr {
    height: 40px;
}

.statisticsTable th, .statisticsTable td {
    padding-right: 50px;
    box-sizing: border-box;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-header);
    min-width: 150px;
}

.statisticsTable td {
    font-weight: var(--font-weight-regular);
    font-family: var(--font-basic);
}