@import './config.css';

.header {
    width: 100%;
    max-width: 1200px;
    text-align: left;
    margin: 0 auto;
}

.header h1 {
    display: inline-block;
    font-family: var(--font-header);
    color: var(--color-white);
    font-size: 32px;
    background: var(--color-brand);
    padding: 20px;
    box-sizing: border-box;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.header h3 {
    display: block;
    font-family: var(--font-header);
    color: var(--color-dark);
    font-size: var(--font-size-large);
}

.header p {
    font-family: var(--font-basic);
    color: var(--color-dark);
    font-size: var(--font-size-med);
    line-height: 40px;

    padding: 20px;
    box-sizing: border-box;
    box-shadow: var(--shadow);
    border-radius: 10px;
    background: var(--color-white);
    display: inline-block;
}

.header p .number {
    color: var(--color-brand);
    font-size: var(--font-size-header);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-header);
    margin-right: 15px;
}

.header p span {
    color: var(--color-brand);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-header);
}

.footer {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 40px 0;
    height: auto;
    margin-top: 150px;
}

.footer div {
    display: inline-block;
    width: auto;
    padding: 20px;
    box-sizing: border-box;
    background: var(--color-white);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.footer img {
    width: 40px;
    margin-bottom: -10px;
    height: auto;
    display: inline-block;
}

.footer p {
    margin-left: 20px;
    display: inline-block;
    color: var(--color-dark);
    font-size: var(--font-size-med);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-basic);
}

.footer a {
    color: var(--color-brand);
    font-weight: var(--font-weight-bold);
    text-decoration: underline;
}

.errorBlock {
    width: 90%;
    max-width: 300px;
    display: block;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: var(--color-white);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    z-index: 20;
}

.errorBlock p {
    color: var(--color-danger);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-basic);
    font-size: var(--font-size-med);
    line-height: 30px;
}

.loadingBlock {
    display: block;
}

.loadingBlock p {
    color: var(--color-dark);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-basic);
    font-size: var(--font-size-med);
}